<div class="container">
    <div class="row">
        <div class="col-12">
            <div *ngIf="quitarAlerta == true" class="alert alert-secondary" role="alert">
                {{mensajeAlerta}}
            </div>
        </div>

        <div class="col-6 margin-inicial">
            <h1 class="text-center">{{titulo}}</h1>
        </div>

        <div *ngIf="titulo == 'Pokemon' " class="col-6 margin-inicial">
            <input id="codigoBarras" type="text" class="form-control ipunt-mayusculas inputredondos" (input)="recibirDatos($event.target)" />
        </div>
        
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" (click)="dondeEstamos(1)">Pokemones</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" (click)="dondeEstamos(2)">Seleccionados</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">        
                <div id="tabla" class="col-12">
                    <div class=" text-center mat-elevation-z8">
                    
                        <table mat-table [dataSource]="dataSource" >
    
                            <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> No. </th>
                            <td mat-cell *matCellDef="let pokemon; index as i"> {{ pokemon.position + 1 }} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> Nombre </th>
                            <td mat-cell *matCellDef="let pokemon"> {{pokemon.name | uppercase}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="tipo">
                                <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> Tipo </th>
                                <td mat-cell *matCellDef="let pokemon; index as i"> 
                                    <p *ngFor="let pertenece of pokemon.especie">{{ pertenece }}</p>   
                                </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="habilidad">
                                <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> Habilidad </th>
                                <td mat-cell *matCellDef="let pokemon">             
                                    <p *ngFor="let habilidades of pokemon.habilidades">{{ habilidades }}</p>    
                                </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="img">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element"> <img [src]="element.img" /> </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="botones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element; index as i"> 
                                    <div class="row">
                                        <div class="col-6">
                                            <button (click)="detallePokemon(element.position)" type="button" class="btn btn-outline-primary btn-sm">
                                                Detalle
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button (click)="agregar(element.position)" type="button" class="btn btn-outline-secondary btn-sm">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
        
                                </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                
                        <mat-paginator [pageSizeOptions]="[50, 100, 250]"
                            showFirstLastButtons>
                        </mat-paginator>
                    </div>  
                </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div id="tabla" class="col-12">
                    <div class=" text-center mat-elevation-z8">
                    
                        <table mat-table [dataSource]="dataSlec" >
    
                            <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> No. </th>
                            <td mat-cell *matCellDef="let pokemon; index as i"> {{ pokemon.position + 1 }} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> Nombre </th>
                            <td mat-cell *matCellDef="let pokemon"> {{pokemon.name | uppercase}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="tipo">
                                <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> Tipo </th>
                                <td mat-cell *matCellDef="let pokemon; index as i"> 
                                    <p *ngFor="let pertenece of pokemon.especie">{{ pertenece }}</p>   
                                </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="habilidad">
                                <th mat-header-cell *matHeaderCellDef [ngClass]="'text-center'"> Habilidad </th>
                                <td mat-cell *matCellDef="let pokemon">             
                                    <p *ngFor="let habilidades of pokemon.habilidades">{{ habilidades }}</p>    
                                </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="img">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element"> <img [src]="element.img" /> </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="botones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element; index as i"> 
                                    <div class="row">
                                        <div class="col-6">
                                            <button (click)="borrar(i)" type="button" class="btn btn-outline-warning btn-sm">
                                                borrar
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button (click)="detallePokemon(element.position)" type="button" class="btn btn-outline-primary btn-sm">
                                                Detalle
                                            </button>
                                        </div>
                                    </div>
        
                                </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                
                        <mat-paginator [pageSizeOptions]="[50, 100, 250]"
                            showFirstLastButtons>
                        </mat-paginator>
                    </div>  
                </div>
            </div>

        </div>
          

        <div *ngIf="tarjetaSel == true" id="tarjeta" class="col-5 fixed-top float-right">
            <div class="card" >
                
                <img [src]="imgPokemon" class="card-img-top w-100" >

                <div class="card-body">
                  <h5 class="card-title">{{selPokemon}}</h5>
                  <p class="card-text">Tipo: {{tipPokemon}} </p>
                  <p class="card-text">Habilidad: {{habPokemon}} </p>

                    <div class="row">
                        <div class="col-6 text-center">
                            <button (click)="cerrar()" type="button" class="btn btn-outline-primary btn-sm">
                                Cerrar
                            </button>
                        </div>
                        
                        <div class="col-6 text-center">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
              </div>
        </div>

    </div>
</div>

